* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
body, button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
body, input {
	color: #171717;
}
body, .search-bar {
	display: flex;
}
body {
    flex-direction: column;
}
.search-bar {
    width: 100%;
}
body {
	background: #f1f1f1;
	height: 100vh;
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #008cff;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}



 .cat {
	 margin: auto;
	 position: relative;
	 width: 16em;
	 height: 16em;
}
 .cat__segment {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 3em;
	 height: 2em;
	 transform: translate(-50%, -50%);
}
 .cat__segment:before {
	 animation: loop 2s cubic-bezier(0.6, 0, 0.4, 1) infinite running;
	 background: linear-gradient(90deg, #fff 20%, #e6e6e6 20% 80%, #fff 80%);
	 border-radius: 0.25em;
	 content: "";
	 display: block;
	 will-change: transform;
	 width: 100%;
	 height: 100%;
}
 .cat__segment:first-of-type {
	 width: 4em;
	 height: 4em;
	 z-index: 1;
}
 .cat__segment:first-of-type:before {
	 background: radial-gradient(0.25em 0.25em at 1.25em 1.6em, #fff 48%, rgba(255, 255, 255, 0) 50%), radial-gradient(0.75em 0.75em at 1.25em 1.75em, #1a1a1a 48%, rgba(26, 26, 26, 0) 50%), radial-gradient(0.25em 0.25em at 2.75em 1.6em, #fff 48%, rgba(255, 255, 255, 0) 50%), radial-gradient(0.75em 0.75em at 2.75em 1.75em, #1a1a1a 48%, rgba(26, 26, 26, 0) 50%), radial-gradient(0.9em 0.8em at 1.5em 2.65em, #fff 48%, rgba(255, 255, 255, 0) 50%), radial-gradient(0.9em 0.8em at 2.5em 2.65em, #fff 48%, rgba(255, 255, 255, 0) 50%), radial-gradient(1em 0.8em at 1.6em 2.75em, #ccc 48%, rgba(204, 204, 204, 0) 50%), radial-gradient(1em 0.8em at 2.4em 2.75em, #ccc 48%, rgba(204, 204, 204, 0) 50%), radial-gradient(0.75em 0.75em at 50% 2.5em, #e69999 48%, rgba(230, 153, 153, 0) 50%), radial-gradient(4em 3em at 50% 2em, #fff 48%, rgba(255, 255, 255, 0) 50%), radial-gradient(4em 3em at 50% 2.2em, #ccc 48%, rgba(204, 204, 204, 0) 50%), radial-gradient(1em 3em at 0.75em 1.5em, #e69999 39%, #fff 40% 49%, rgba(255, 255, 255, 0) 50%), radial-gradient(1em 3em at 3.25em 1.5em, #e69999 39%, #fff 40% 49%, rgba(255, 255, 255, 0) 50%), radial-gradient(1em 2em at 0.5em 2.8em, #fff 48%, rgba(255, 255, 255, 0) 50%), radial-gradient(1em 2em at 0.5em 3em, #ccc 48%, rgba(204, 204, 204, 0) 50%), radial-gradient(1em 2em at 3.5em 2.8em, #fff 48%, rgba(255, 255, 255, 0) 50%), radial-gradient(1em 2em at 3.5em 3em, #ccc 48%, rgba(204, 204, 204, 0) 50%);
	 background-repeat: no-repeat;
}
 .cat__segment:last-of-type {
	 width: 3em;
	 height: 4em;
}
 .cat__segment:last-of-type:before {
	 background: linear-gradient(90deg, #fff 20%, #e6e6e6 20% 80%, #fff 80%) 0 1.5em / 3em 0.5em, radial-gradient(3em 2em at top center, #e6e6e6 30%, #fff 31% 48%, rgba(255, 255, 255, 0) 50%) 0 2em / 3em 2em, radial-gradient(1em 4em at 0.5em 0, #fff 48%, rgba(255, 255, 255, 0) 50%) 0 2em / 3em 2em, radial-gradient(1em 4em at 2.5em 0, #fff 48%, rgba(255, 255, 255, 0) 50%) 0 2em / 3em 2em;
	 background-repeat: no-repeat;
}
 .cat__segment:nth-of-type(1) {
	 transform: translate(-50%, -50%) rotate(-20deg);
}
 .cat__segment:nth-of-type(1):before {
	 animation-delay: 0s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(2) {
	 transform: translate(-50%, -50%) rotate(-18.6666666667deg);
}
 .cat__segment:nth-of-type(2):before {
	 animation-delay: 0.02s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(3) {
	 transform: translate(-50%, -50%) rotate(-17.3333333333deg);
}
 .cat__segment:nth-of-type(3):before {
	 animation-delay: 0.04s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(4) {
	 transform: translate(-50%, -50%) rotate(-16deg);
}
 .cat__segment:nth-of-type(4):before {
	 animation-delay: 0.06s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(5) {
	 transform: translate(-50%, -50%) rotate(-14.6666666667deg);
}
 .cat__segment:nth-of-type(5):before {
	 animation-delay: 0.08s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(6) {
	 transform: translate(-50%, -50%) rotate(-13.3333333333deg);
}
 .cat__segment:nth-of-type(6):before {
	 animation-delay: 0.1s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(7) {
	 transform: translate(-50%, -50%) rotate(-12deg);
}
 .cat__segment:nth-of-type(7):before {
	 animation-delay: 0.12s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(8) {
	 transform: translate(-50%, -50%) rotate(-10.6666666667deg);
}
 .cat__segment:nth-of-type(8):before {
	 animation-delay: 0.14s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(9) {
	 transform: translate(-50%, -50%) rotate(-9.3333333333deg);
}
 .cat__segment:nth-of-type(9):before {
	 animation-delay: 0.16s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(10) {
	 transform: translate(-50%, -50%) rotate(-8deg);
}
 .cat__segment:nth-of-type(10):before {
	 animation-delay: 0.18s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(11) {
	 transform: translate(-50%, -50%) rotate(-6.6666666667deg);
}
 .cat__segment:nth-of-type(11):before {
	 animation-delay: 0.2s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(12) {
	 transform: translate(-50%, -50%) rotate(-5.3333333333deg);
}
 .cat__segment:nth-of-type(12):before {
	 animation-delay: 0.22s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(13) {
	 transform: translate(-50%, -50%) rotate(-4deg);
}
 .cat__segment:nth-of-type(13):before {
	 animation-delay: 0.24s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(14) {
	 transform: translate(-50%, -50%) rotate(-2.6666666667deg);
}
 .cat__segment:nth-of-type(14):before {
	 animation-delay: 0.26s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(15) {
	 transform: translate(-50%, -50%) rotate(-1.3333333333deg);
}
 .cat__segment:nth-of-type(15):before {
	 animation-delay: 0.28s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(16) {
	 transform: translate(-50%, -50%) rotate(0deg);
}
 .cat__segment:nth-of-type(16):before {
	 animation-delay: 0.3s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(17) {
	 transform: translate(-50%, -50%) rotate(1.3333333333deg);
}
 .cat__segment:nth-of-type(17):before {
	 animation-delay: 0.32s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(18) {
	 transform: translate(-50%, -50%) rotate(2.6666666667deg);
}
 .cat__segment:nth-of-type(18):before {
	 animation-delay: 0.34s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(19) {
	 transform: translate(-50%, -50%) rotate(4deg);
}
 .cat__segment:nth-of-type(19):before {
	 animation-delay: 0.36s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(20) {
	 transform: translate(-50%, -50%) rotate(5.3333333333deg);
}
 .cat__segment:nth-of-type(20):before {
	 animation-delay: 0.38s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(21) {
	 transform: translate(-50%, -50%) rotate(6.6666666667deg);
}
 .cat__segment:nth-of-type(21):before {
	 animation-delay: 0.4s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(22) {
	 transform: translate(-50%, -50%) rotate(8deg);
}
 .cat__segment:nth-of-type(22):before {
	 animation-delay: 0.42s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(23) {
	 transform: translate(-50%, -50%) rotate(9.3333333333deg);
}
 .cat__segment:nth-of-type(23):before {
	 animation-delay: 0.44s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(24) {
	 transform: translate(-50%, -50%) rotate(10.6666666667deg);
}
 .cat__segment:nth-of-type(24):before {
	 animation-delay: 0.46s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(25) {
	 transform: translate(-50%, -50%) rotate(12deg);
}
 .cat__segment:nth-of-type(25):before {
	 animation-delay: 0.48s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(26) {
	 transform: translate(-50%, -50%) rotate(13.3333333333deg);
}
 .cat__segment:nth-of-type(26):before {
	 animation-delay: 0.5s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(27) {
	 transform: translate(-50%, -50%) rotate(14.6666666667deg);
}
 .cat__segment:nth-of-type(27):before {
	 animation-delay: 0.52s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(28) {
	 transform: translate(-50%, -50%) rotate(16deg);
}
 .cat__segment:nth-of-type(28):before {
	 animation-delay: 0.54s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(29) {
	 transform: translate(-50%, -50%) rotate(17.3333333333deg);
}
 .cat__segment:nth-of-type(29):before {
	 animation-delay: 0.56s;
	 transform: translateX(6em);
}
 .cat__segment:nth-of-type(30) {
	 transform: translate(-50%, -50%) rotate(18.6666666667deg);
}
 .cat__segment:nth-of-type(30):before {
	 animation-delay: 0.58s;
	 transform: translateX(6em);
}
 @keyframes loop {
	 from {
		 transform: rotate(0) translateX(6em);
	}
	 to {
		 transform: rotate(-1turn) translateX(6em);
	}
}
